<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Enviar creepypasta</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="https://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
</head>
<body ng-app="creepypastasApp">
    <div class="container wrapper">
        <h1>Envía tu creepypasta</h1>
        <p></p>
        <form ng-controller="formCtrl as frm" class="form" method="post" ng-submit="submitPost()">
            <input ng-model="frm.post.title" id="postTitle" type="text" placeholder="Título">
            <textarea ng-model="frm.post.content" id="postContent" rows="11" placeholder="Contenido"></textarea>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                  <tags-input ng-model="frm.post.categoriesObj"
                              placeholder="Categorías"
                              display-property="name"
                              replace-spaces-with-dashes="false"
                              add-from-autocomplete-only="true"
                              on-tag-added="catAdded($tag)"
                              on-tag-removed="catRemoved($tag)">
                    <auto-complete source="loadSuperheroes($query)"
                                   min-length="0"
                                   debounce-delay="0"
                                   max-results-to-show="10"></auto-complete>
                  </tags-input>
                </div>
                <div class="col-md-6 col-xs-6">
                    <input ng-model="frm.post.tags" id="postTags" type="text" placeholder="Etiquetas (separadas por comas)">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <input ng-model="frm.post.fuente_text" id="postFuenteText" type="text" placeholder="Origen del creepypasta">
                </div>
                <div class="col-md-6 col-xs-12">
                    <input ng-model="frm.post.fuente_url" id="postFuenteUrl" type="url" placeholder="URL original (opcional)">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <input ng-model="frm.currentUser.username" id="userName" type="text" placeholder="usuario">
                </div>
                <div class="col-md-6 col-xs-12">
                    <input ng-model="frm.currentUser.p" id="userP" type="password" placeholder="contraseña">
                </div>
            </div>
            <input type="submit" class="submit" value="Enviar">
        </form>
    </div>
    <p class="optimize">
        Creepypastas.com está hecho con Wordpress, BuddyPress y <b>mucho amor</b>
    </p>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js"></script>
    <script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="https://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/ng/formCtrl.js"></script>
</body>
</html>
