<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Enviar creepypasta</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css"/>
    <link rel="stylesheet" href="css/grid.css"/>
    <link rel="stylesheet" href="css/md-theme.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.8/angular-material.min.css">
</head>
<body ng-app="creepypastasApp">

<div class="container" ng-controller="formCtrl as frm">
    <form ng-submit="submitPost()">
        <div layout="column" ng-cloak class="md-inline-form">
            <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                <div>
                    <md-input-container>
                        <label>Título</label>
                        <input ng-model="frm.post.title">
                    </md-input-container>
                </div>
            </md-content>
            <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                <div>
                    <md-input-container class="md-block">
                        <label>Contenido</label>
                    <textarea ng-model="frm.post.content" md-maxlength="3000" rows="20" cols="200"
                              md-select-on-focus></textarea>
                    </md-input-container>
                </div>
            </md-content>
            <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                <div>
                    <md-chips ng-model="frm.post.categoriesObj" md-autocomplete-snap
                              md-transform-chip="ctrl.transformChip($chip)"
                              md-on-add="frm.catAdded($chip)"
                              md-require-match="true">
                        <md-autocomplete
                                md-selected-item="frm.selectedItem"
                                md-search-text="frm.searchText"
                                md-items="item in frm.filterCategories(ctrl.searchText)"
                                md-item-text="item.name"
                                placeholder="Buscar categoría">
                            <span md-highlight-text="frm.searchText">{{item.name}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>{{$chip.name}}</span>
                        </md-chip-template>
                    </md-chips>
                </div>
                <div>
                    <md-chips
                            ng-model="frm.post.tagsList"
                            md-on-add="frm.tagAdded($chip)"
                            md-separator-keys="frm.keys"
                            placeholder="Etiquetas"
                            secondary-placeholder="Separadas por coma"></md-chips>
                </div>
            </md-content>
            <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                <div>
                    <md-input-container>
                        <label>Origen</label>
                        <input ng-model="frm.post.fuente_text">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>URL original (opcional)</label>
                        <input ng-model="frm.post.fuente_url" type="url">
                    </md-input-container>
                </div>
            </md-content>
            <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                <div>
                    <md-input-container>
                        <label>Usuario</label>
                        <input ng-model="frm.currentUser.username">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>Contraseña</label>
                        <input ng-model="frm.currentUser.p" type="password">
                    </md-input-container>
                </div>
            </md-content>
            <md-content layout="row" md-theme="docs-dark" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-raised md-primary" ng-click="submitPost()">Enviar</md-button>
            </md-content>
        </div>
    </form>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-aria.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-messages.min.js"></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.8/angular-material.js"></script>

<script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="js/index.js"></script>
<script src="js/ng/formCtrl.js"></script>
</body>
</html>
